body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
img.tile-image{
  height: 200px;
  float: left;
  
}

footer {
  float: none;
  text-align: right;
  color: midnightblue;
}

span{
  color: midnightblue;
}
.card{
  display: block;
  width: 45%;
  
}
div.left{
display: inline;
float: left;
flex: 1;
}
div.right{
  display: inline;
  float: right;
  flex: 1;
}
div.card .card-title{
  display: inline;
  float: left;
}
div.card p{
  display: inline;
  float: left;
}